*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    /* background: black; */
}
.menu-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    list-style: none;
    cursor: pointer;
}
.logo h1{
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
}
.menus{
    display: flex;
    margin: 20px;
    
}
.item{
    padding: 10px;
    font-size: 20px;
}
.item:hover{
    color: gray;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background: rgb(20, 20, 20);
    color:white
}
.banner-img{
    width: 300px;
}
.banner-text h1{
    font-weight: bold;
    font-size: 50px;
}
.banner-text p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px ;
}
button{
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    background: rgb(131, 7, 7);
}

.ab-text{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.about-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row-reverse;
}
.about-img{
    width: 300px;
    margin-left: 30px;
}
.about-text h1{
    font-size: 40px;
    font-weight: bold;
}
.about-text p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    height: 100vh;
    background: rgb(20, 20, 20);
}
.service-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 10px;
}
.box{
    width: 250px;
    height: 350px;
    box-shadow: 4px 4px 10px gray;
    background-color: rgb(15, 1, 1);
    color: white;
    text-align: center;
    padding: 20px;
}
.card h1{
    padding: 40px 5px;
    color: white;
}
.icon{
    width: 100px;
}
.box-btn{
    margin-top: 20px;
    padding: 10px 30px;
    /* margin-bottom: 50px; */
}
.box-btn:hover{
    background-color: gray;
    color: rgb(15, 1, 1);
}
.box-title{
    font-size: 30px;
    font-weight: bold;
}
.box-para{
    margin-top: 10px;
}
hr{
    margin-bottom: 20px;
    width: 600px;
}
footer{
    text-align: center;
    font-weight: bold;
}